[Unit]
Description={{description}}
After=network.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory={{installDir}}/{{name}}
Restart=always
User={{username}}
Group={{username}}
{{#environment}}
Environment={{key}}={{value}}
{{/environment}}

[Install]
WantedBy=multi-user.target
